* {
	margin: 0;
	padding: 0;
}

body{
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

/*
-Estilizações gerais-
*/
a{
	text-decoration: none;
}

a:link, a:visited{
	color: #f7b600;
}

a:hover {
	text-decoration: underline;
}

img{
	width: 620px;
}

h1{
	color: #4e4e4e;
	font-size: 2.5em;
}

h2{
	color: #f7b600;
}

h3{
	color: #565656;
	background: #ccc;
	padding: 5px;
}

/*
-Layout principal-
*/

#header{
	background: #f7b600;
	padding: 15px;
	text-align: center;
}

h1, #nav{
	padding: 10px;
}

#header a:link, #header a:visited{
	color: #fff;
	padding: 8px 12px;
}

#header a:hover{
	color: #f7b600;
	background: #fff;
	text-decoration: none;
}


#main{
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}

#post-area{
	width: 660px;
	float: left;
}

#aside-area{
	width: 240px;
	float: right;
}

.post{
	padding: 20px;
	margin-bottom: 20px;
	background: #fff;
}



#footer{
	text-align: center;
	padding: 15px;
	clear: both;
	background: #ccc;
}

.white{
	color: #fff;
}

.post-date{
	font-size: 0.8em;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.aside-content{
	background: #fff;
	padding: 10px;
	margin-bottom: 20px;
}

.aside-post{
	font-size: 0.8em;
	padding: 5px;
}